GCP_PROJECT_ID="name-to-your-gcp-project"
GCP_PROJECT_LOCATION="name-to-your-gcp-project-location"
GCS_COCO_DATASET="gs://name-of-your-coco-dataset-bucket"
COCO_BUCKET_NAME="name-of-your-coco-dataset-bucket"
GCS_OUTPUT_BUCKET_NAME="name-of-gcs-bucket-to-store-your-result"
GCS_OUTPUT_DIR="name-of-folder-under-gcs-result-bucket/"
GCS_OUTPUT_CAPTION_OBJECT_NAME="name-of-your-result-gcs-caption-folder/caption.jsonl"
GCS_OUTPUT_TEST_IMAGE_FOLDER="name-of-folder-in-result-gcs-bucket-to-store-test-images/"
COCO_TRAIN_IMAGE_FOLDER="train/data/"
COCO_TRAIN_LABEL_METADATA="train/labels.json"
COCO_TRAIN_CAPTION_METADATA="raw/caption_2017.json"